{%extends "base.html" %}
{%block content%}
  
<h1> About us </h1>

<p>
    We are 4 students of the
    <a href="https://corsi.unibo.it/1cycle/Genomics">
        Genomics
    </a>
    bachelor degree
</p>

<h5>
    Giacomo Castagnetti
    <a href="https://github.com/kcajj">
        <img src="{{ url_for('static', filename='github.png') }}"; height="40px">
    </a>
</h5>
<h5>
    Giulia Cocchi
    <a href="https://github.com/">
        <img src="{{ url_for('static', filename='github.png') }}"; height="40px">
    </a>
</h5>
<h5>
    Martina Padovani
    <a href="https://github.com/">
        <img src="{{ url_for('static', filename='github.png') }}"; height="40px">
    </a>
</h5>
<h5>
    Samuele Raffaello Zoboli
    <a href="https://github.com/">
        <img src="{{ url_for('static', filename='github.png') }}"; height="40px">
    </a>
</h5>
{% endblock %}