{%extends "base.html" %}
{%block content%}

<h1>you are currently working on the {{ dataset_name }} dataset</h1>

<p>
  here we will display the dataset on which we are doing the operations, it can be the standard
  one (human genome) or a filtered result coming from another operation
</p>

<table>
  <tr>
    {% for column_name in dataset.get_df().columns %}
      <th> {{ column_name }} </th>
    {% endfor %}
  </tr>
  {% for index,row in dataset.get_df().head().iterrows() %}
    <tr>
        {% for e in row %}
            <td> {{ e }} </td>
        {% endfor %}
    </tr>
  {% endfor %}
  <tr>
    <td>
      ---
    </td>
  </tr>
  {% for index,row in dataset.get_df().tail().iterrows() %}
    <tr>
        {% for e in row %}
          <td> {{ e }} </td>
        {% endfor %}
    </tr>
  {% endfor %}
</table>

</br>
</br>
<p>
  we can show just a bunch of lines and then set two buttons, one to see the whole database
  on the browser (bad idea) and one to download the csv file of the database (also bad idea)
</p>

<p>
  <a href="/download/{{dataset_name}}/None"> Download the csv file </a>
</p>
<p>
  <a href="/GFF3view/{{dataset_name}}" target="_blank"> see the full dataset (not recommended)</a>
</p>

<h2>Active operations</h2>

  {% for operation_name in active_op %}
    <h4>
      <a href="/operation/{{dataset_name}}/{{operation_name}}">{{ operation_name }}</a>
    </h4>
  {% endfor %}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            Descriptive
          </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          description and links
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            Selection
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          description and links
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            Statistics
          </a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          description and links
        </div>
      </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              Filtering
            </a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
            description and links
          </div>
        </div>
      </div>
  </div>
 
{% endblock %}