{%extends "base.html" %}
{%block content%}

<h1>you are currently working on the {{ dataset_name.replace('_',' ') }} dataset</h1>

<p>
  here we will display the dataset on which we are doing the operations, it can be the standard
  one (human genome) or a filtered result coming from another operation. We way also want to display
  dimensions of the dataset on which the user is working. Also the dimensions of the output tables of the operations
</p>

<table>
  <tr>
    <td>
      {{ dataset_name.replace('_',' ') }} dataset: {{ dataset.get_df().shape }}
    </td>
    <td>
      <a class="btn" href="/download/{{dataset_name}}/dataset">
        <img src="{{ url_for('static', filename='download_button.png') }}"; height = 30px>
        Download the csv file
      </a>
    </td>
    <td>
      <a class="btn" href="/operation/{{dataset_name}}/show_gff3" target="_blank">
        <img src="{{ url_for('static', filename='open_in_new_tab.png') }}"; height = 30px>
        see the full dataset (not recommended)
      </a>
    </td>
  </tr>
</table>

<table>
  <tr>
    {% for column_name in dataset.get_df().columns %}
      <th> {{ column_name }} </th>
    {% endfor %}
  </tr>
  {% for index,row in dataset.get_df().head().iterrows() %}
    <tr>
        {% for e in row %}
            <td> {{ e }} </td>
        {% endfor %}
    </tr>
  {% endfor %}
  <tr>
    <td>
      ---
    </td>
  </tr>
  {% for index,row in dataset.get_df().tail().iterrows() %}
    <tr>
        {% for e in row %}
          <td> {{ e }} </td>
        {% endfor %}
    </tr>
  {% endfor %}
</table>

<br>

<h2>Active operations</h2>

<p>
  these are the operations that can be executed on the <b> {{ dataset_name.replace('_', ' ') }} </b> dataset:
</p>

<ul>
  {% for operation_name in active_op %}
    <li class="parent-element">

      <h4> {{ operation_name.replace('_', ' ') }} </h4>

      <div class="child-element">
        
        <a class="btn" href="/operation/{{dataset_name}}/{{operation_name}}">
          <div class="square-button">
            <img src="{{ url_for('static', filename='execute_button.png') }}">
          </div>
        </a>
        <a class="btn" href="/documentation#{{ operation_name }}">
          <div class="square-button">
            <img src="{{ url_for('static', filename='documentation_button.png') }}">
          </div>
        </a>

      </div>
      
    </li>
  {% endfor %}
</ul>

{% endblock %}