<!DOCTYPE html>
<html lang="en">
  <head>

      <!-- CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}"/>
      <title>Human Genome Features Web App</title>
    
    </head>

    <body>

      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
          <a class="navbar-brand" href="{{ url_for('homepage')}}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
            <span>Human Genome App</span>
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="btn" href="{{ url_for('homepage')}}">
                  <img src="{{ url_for('static', filename='home_button.png') }}", height="30 px">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="btn" href="{{ url_for('active_operations', dataset_name = 'human_genome') }}">
                  <img src="{{ url_for('static', filename='execute_button.png') }}", height="30 px">
                  Active operations
                </a>
              </li>
              <li class="nav-item">
                <a class="btn" href="{{ url_for('documentation')}}">
                  <img src="{{ url_for('static', filename='documentation_button.png') }}", height="30 px">
                  Project documentation
                </a>
              </li>
            </ul>
          </div>

        </nav>
      </header>

      <div class="container">
        
        <!-- Your HTML content goes here -->
        {% block content %}
        {% endblock %}
      
      </div>

      <div id="bottom-bar">
        <p>
          <br>
          <br>
          This is an open access web application
          <br>
        </p>

        <h5> About us: </h5>

        <p>
          We are 4 students of the
          <a href="https://corsi.unibo.it/1cycle/Genomics">
              Genomics
          </a>
          bachelor degree <br>

          Giacomo Castagnetti
          <a href="https://github.com/kcajj" target="_blank">
              <img src="{{ url_for('static', filename='github.png') }}"; height="20px">
          </a>
          <br>
          Giulia Cocchi
          <a href="https://github.com/giuliacocchi" target="_blank">
              <img src="{{ url_for('static', filename='github.png') }}"; height="20px">
          </a>
          <br>
          Martina Padovani
          <a href="https://github.com/MartyPado" target="_blank">
              <img src="{{ url_for('static', filename='github.png') }}"; height="20px">
          </a>
          <br>
          Samuele Raffaello Zoboli
          <a href="https://github.com/samzoboli" target="_blank">
              <img src="{{ url_for('static', filename='github.png') }}"; height="20px">
          </a>
        </p>
      </div>

    </body>

</html>