{%extends "base.html" %}
{%block content%}


<h1>result of {{ operation_name }}</h1>

<p>
    <a href="/download/{{dataset_name}}/{{operation_name}}"> Download the csv file </a>
</p>

<table class="prova">

    <tr>
        {% if isgff3 == 'False' %} <!-- if the dataset is gff3 there is no need to print the index -->
            <th> index </th>
        {% endif %}
        {% for column_name in df.columns %}
            <th> {{ column_name }} </th>
        {% endfor %}
    </tr>
    
    {% for index,row in df.iterrows() %}
        <tr>
            {% if isgff3 == 'False' %}
            <td> {{ index }} </td>
            {% endif %}
            {% for e in row %}
                <td> {{ e }} </th>
            {% endfor %}
        </tr>
    {% endfor %}

</table>

{% endblock %}