{%extends "base.html" %}
{%block content%}

<h1>
  <img src="{{ url_for('static', filename='database_logo.png') }}" height="100px">
  You are currently working on the <b>{{ dataset_name.replace('_',' ') }}</b> dataset
</h1>

<br>

{% if dataset_name != 'human_genome' %}
  <p>
    <a href="{{ url_for('operations', dataset_name = 'human_genome') }}""> &lt;&lt;go back to the human genome dataset </a>
  </p>
{% endif %}

<table class="large-table">
  <tr>
    <td class="table-information-content" width="70%">
      {{ dataset_name.replace('_',' ') }} dataset: {{ dataset.get_df().shape }}
    </td>
    <td class="table-information-content">
      <a class="btn" href="/download/{{dataset_name}}/dataset">
        <img class='img-button' src="{{ url_for('static', filename='download_button.png') }}">
        Download the csv file
      </a>
    </td>
    <td class="table-information-content">
      <a class="btn" href="/operation_result/{{dataset_name}}/show_gff3" target="_blank">
        <img class='img-button' src="{{ url_for('static', filename='open_in_new_tab.png') }}">
        See the full dataset
      </a>
    </td>
  </tr>
</table>

<table class="large-table">
  <tr>
    {% for column_name in dataset.get_df().columns %}
      <th> {{ column_name }} </th>
    {% endfor %}
  </tr>
  {% for index,row in dataset.get_df().head().iterrows() %}
    <tr>
        {% for e in row %}
            <td> {{ e }} </td>
        {% endfor %}
    </tr>
  {% endfor %}
  <tr>
    {% for i in range(9) %}
      <td>
        ...
      </td>
    {% endfor %}
  </tr>
  {% for index,row in dataset.get_df().tail().iterrows() %}
    <tr>
        {% for e in row %}
          <td> {{ e }} </td>
        {% endfor %}
    </tr>
  {% endfor %}
</table>

<br>

<h1>
  <img src="{{ url_for('static', filename='operations_logo.png') }}" height="100px">
  Active operations
</h1>

<p>
  these are the operations that can be executed on the <b> {{ dataset_name.replace('_', ' ') }} </b> dataset:
</p>

<ul>
  {% for operation_name in active_op %}
    <li class="parent-element">

      <h4> {{ operation_name.replace('_', ' ') }} </h4>

      <div class="child-element">
        <table>
          <tr>
            <td class="table-information-content">
              <a class="btn" href="/operation_result/{{dataset_name}}/{{operation_name}}">
                <img class='img-button' src="{{ url_for('static', filename='execute_button.png') }}">
                Execute
              </a>
            </td>
            <td class="table-information-content">
              <a class="btn" href="/documentation#{{ operation_name }}">
                <img class='img-button' src="{{ url_for('static', filename='documentation_button.png') }}">
                Learn more about this operation
              </a>
            </td>
          </tr>
        </table>

      </div>
      
    </li>
  {% endfor %}
</ul>

{% endblock %}