{%extends "base.html" %}
{%block content%}

{% if operation_name != "show_gff3" %}
    <h1>result of {{ operation_name.replace('_',' ') }} executed on {{ dataset_name.replace('_',' ') }}</h1>
{% else %}
    <h1>{{ dataset_name.replace('_',' ') }}</h1>
{% endif %}

<table>
    <tr>
        <td class="table-information-content">
            <a class="btn" href="/active_operations/{{dataset_name}}">
              <img class='img-button' src="{{ url_for('static', filename='back_button.png') }}">
            </a>
          </td>
        <td class="table-information-content">
            Dimensions: {{ df.shape }}
        </td>
        <td class="table-information-content">
            <a class="btn" href="/download/{{dataset_name}}/{{operation_name}}">
                <img class='img-button' src="{{ url_for('static', filename='download_button.png') }}">
                Download
            </a>
        </td>
        <td class="table-information-content">
            <a class="btn" href="/documentation#{{ operation_name }}">
                <img class='img-button' src="{{ url_for('static', filename='documentation_button.png') }}">
                Learn more about the result
            </a>
        </td>
    </tr>
</table>

<table>

    <tr>
        <th> index </th>
        {% for column_name in df.columns %}
            <th> {{ column_name }} </th>
        {% endfor %}
    </tr>
    
    {% for index,row in df.iterrows() %}
        <tr>
            <td> {{ index }} </td>
            {% for e in row %}
                <td> {{ e }} </th>
            {% endfor %}
        </tr>
    {% endfor %}

</table>

{% endblock %}