.navbar-collapse {
    padding-left: 23%;
}

html body {
    margin: 0;
    font-family: sans-serif;
    background: rgb(186, 240, 255);
    }

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    }

.container {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(95, 186, 255);
    min-height: 100vh;
    }

a {
    color: rgb(0, 8, 255);
}

table {
    color: white;
    background-color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
.large-table{
    width: 100%;
    max-width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #333;
    max-width: 360px;
    line-height: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

th {
    line-height: 2;
    background-color: #555;
    }

.crc th{
        font-weight: normal;
    }
.crc td{
        line-height: 1.5;
        vertical-align: top;
    }

.table-information-content{
    color: black;
    background-color: rgb(95, 186, 255);
}

#bottom-bar {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding-left: 10%;
    padding-top: 30px;
    display:flex;
    }
#half {
    flex:1;
}
    
.img-button {
    height: 30px;
    width: 30px; 
    }
.code{
    width: 50%;
}

.UML{
    position: relative
}
.UML button{
    position: absolute;
    background-color: transparent;
    /*border: 2px solid black;*/
    border:none;
    opacity: 0.5;
    z-index: 1;
}
.DatasetReader {
    left: 4px;
    width: 299px;
    top: 4px;
    height: 76px;
}
.GFF3DatasetReader {
    left: 4px;
    width: 299px;
    top: 151px;
    height:76px;
}
.Dataset {
    left: 4px;
    width: 300px;
    top: 330px;
    height:220px;
}
.GFF3Dataset {
    left: 388px;
    width: 718px;
    top: 181px;
    height:369px;
}
.pandas_DataFrame{
    top: 4px;
    height: 103px;
    left: 388px;
    width: 237px;
}
.pandas_Series{
    top: 4px;
    height: 103px;
    left: 798px;
    width: 309px;
}

.parent-element {
    padding: 10px;
    }

.child-element {
    display: none;
    }

.parent-element:hover .child-element {
    display: block;
    animation: slideDown 0.5s ease-in-out;
    }

@keyframes slideDown {
    0% {
    transform: translateY(-10px);
    opacity: 0;
        }
    100% {
    transform: translateY(0);
    opacity: 1;
        }
    }
