.navbar-collapse {
    padding-left: 23%;
}

html body {
    margin: 0;
    font-family: sans-serif;
    background: rgb(186, 240, 255);
    }

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    }

.container {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(95, 186, 255);
    min-height: 100vh;
    }

a {
    color: rgb(0, 8, 255);
}

table {
    color: white;
    background-color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
.large-table{
    width: 100%;
    max-width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #333;
    max-width: 360px;
    line-height: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

th {
    line-height: 2;
    background-color: #555;
    }

.crc th{
        font-weight: normal;
    }
.crc td{
        line-height: 1.5;
        vertical-align: top;
    }

.table-information-content{
    color: black;
    background-color: rgb(95, 186, 255);
}

#bottom-bar {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding-left: 10%;
    padding-top: 30px;
    display:flex;
    }
#half {
    flex:1;
}
    
.img-button {
    height: 30px; /* or any other desired size */
    width: 30px; 
    }

.UML{
    position: relative
}
.UML button{
    position: absolute;
    background-color: transparent;
    /*border: 2px solid black;*/
    border:none;
    opacity: 0.5;
    z-index: 1;
    left: 3px;
    width:407px;
}
.DatasetReader {
    top: 3px;
    height:72px;
}
.GFF3DatasetReader {
    top: 143px;
    height:87px;
}
.Dataset {
    top: 322px;
    height:190px;
}
.GFF3Dataset {
    top: 557px;
    height:242px;
}

.parent-element {
    padding: 10px;
    }

.child-element {
    display: none;
    }

.parent-element:hover .child-element {
    display: block;
    animation: slideDown 0.5s ease-in-out;
    }

@keyframes slideDown {
    0% {
    transform: translateY(-10px);
    opacity: 0;
        }
    100% {
    transform: translateY(0);
    opacity: 1;
        }
    }
