.navbar-collapse {
    padding-left: 15%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

html body {
    margin: 0;
    font-family: sans-serif;
    background: rgb(186, 240, 255);
    }

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    }

.container {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(95, 186, 255);
    min-height: 100vh;
    }

a {
    color: rgb(0, 8, 255);
}

table {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #333;
    text-align: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
.table-information{
    width: 100%;
    }
    
.table-operation{
    width: 10%;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #333;
    max-width: 360px;
    line-height: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

th {
    line-height: 2;
    background-color: #555;
    }

.table-information-content{
    color: black;
    background-color: rgb(95, 186, 255);
}

#bottom-bar {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding-left: 10%;
    padding-top: 30px;
    display:flex;
    }
#information {
    flex:1;
}
#about-us{
    flex:1;
}
    
.img-button {
    height: 30px; /* or any other desired size */
    width: 30px; 
    }

.parent-element {
    padding: 10px;
    }

.child-element {
    display: none;
    }

.parent-element:hover .child-element {
    display: block;
    animation: slideDown 0.5s ease-in-out;
    }

@keyframes slideDown {
    0% {
    transform: translateY(-10px);
    opacity: 0;
        }
    100% {
    transform: translateY(0);
    opacity: 1;
        }
    }
